#header1 {
  display: flex;
  justify-content: center;

  margin-top: 1em;
}

#row1 {
  margin-top: 8em;
  display: flex;
  justify-content: center;
}

#btn1 {
  margin-right: 10em;
}

#btn2 {
  margin-left: 10em;
}
